/* 카드 스타일 */
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card-title {
  font-size: 1.5rem;
  color: #1C3F60;
}

.card-description {
  font-size: 1rem;
  color: #333;
}
